<!DOCTYPE html>
<html>
<head>
    <title>Genomic Pathology Foundation </title>
</head>
<body>
    <h1>Genomic Pathology Foundation Model for Survival Prediction</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <label for="max_workers">Number of Cores:</label>
        <input type="number" id="max_workers" name="max_workers" min="1" max="64" step="1" value="32">
        <button type="submit">Predict</button>
    </form>
    {% if result %}
        <h2>Prediction Result: {{ result }}</h2>
    {% endif %}
    <div style="float:right; width:60%; height:100%; background-color:lightgrey;">
        <!-- Space for visualizing the whole slide image -->
    </div>
</body>
</html>
